<%= form_tag(forecasts_path, :method => "get", id: "search-form") do %>
<!-- <table class="table"> -->
 <div class="col-xs-6">
 <%= text_field_tag :city, params[:city], placeholder: "Search by city", class: 'form-control'%>
</div>
 <div class="col-xs-6">
<%= submit_tag "Search", class: 'btn btn-primary' %>
 </div>
<% end %>